<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <system.net>
    <mailSettings>
      <smtp from="esamwadhelp@gmail.com">
        <network host="smtp.gmail.com" port="25" userName="esamwadhelp@gmail.com" password="nicesamwad" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;" /> <!--1-->

    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="smtpServer" value="smtp.gmail.com" />
    <add key="EnableSsl" value="false" />
    <add key="smtpPort" value="587" />
    <add key="smtpUser" value="esamwadhelp@gmail.com" />
    <add key="smtpPass" value="nicesamwad" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
    <add key="sendsmsservice.smsservice" value="http://eservices.bih.nic.in/smsservice.asmx" />
 <add key="EPACSUpload.ImageWebService" value="http://10.133.17.233/epacsfsy/ImageWebService.asmx"/>
 <add key="UploadDocWebService.ImageWebService" value="http://10.133.24.65/epacs/ImageWebService.asmx"/>
 <add key="AadharWebService.uidauth" value="http://164.100.37.11/uidauthservice/uidauth.asmx"/>
  </appSettings>
  <connectionStrings>
  <add name="RCDPMISNewConnectionString" connectionString="Data Source=(local); Initial Catalog=RCDPMISDB;User ID=sa;pwd=123" providerName="System.Data.SqlClient"/>
   
    <!--<add name="RCDPMISNewConnectionString" connectionString="Data Source=DESKTOP-776BABJ;Initial Catalog=RCDPMISDB;Integrated Security=True" />-->
   


  </connectionStrings>
  <system.web>
    <sessionState sqlCommandTimeout="0" stateNetworkTimeout="3020" timeout="30" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
          <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <!--<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        -->
        <!--<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
        <!--
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />-->
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
      <buildProviders>
       <!--<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
      </buildProviders>
	
    </compilation>
    <pages viewStateEncryptionMode="Always" clientIDMode="AutoID">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Data" />
        <add namespace="System.Data.SqlClient" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
      <controls>
        
        
<add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="AjaxControlToolkit"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms name="EservicesAppNameAuth" path="/" loginUrl="~/Default.aspx" protection="All" timeout="30" defaultUrl="~/Default.aspx" />
    </authentication>
    <authorization>
      <Allow users="*" />
    </authorization>
     <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm"/>
    <globalization culture="en-GB" uiCulture="en-GB" />
    <httpHandlers>
      
      <!--<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>-->
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
      <add path="*.pdf" verb="*" type="System.Web.StaticFileHandler" />
      <add path="*.zip" verb="*" type="System.Web.StaticFileHandler" />
      <!--<add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
    </httpHandlers>
    <httpRuntime executionTimeout="6000" maxRequestLength="200096" />
    <identity impersonate="false" />
    <!--<urlMappings >
      <add url="~/ASV/Login" mappedUrl="~/OnlineApp/LoginASV.aspx" />
      <add url="~/ASV/MeritList" mappedUrl="~/OnlineApp/MeritList.aspx" />
      <add url="~/ASV/ADM/Welcome" mappedUrl="~/OnlineApp/ADM/Welcome.aspx" />
      <add url="~/ASV/MeritList/Retired" mappedUrl="~/OnlineApp/ADM/MeritList.aspx?Type=Y" />
      <add url="~/ASV/MeritList/General" mappedUrl="~/OnlineApp/ADM/MeritList.aspx?Type=N" />      
    </urlMappings>-->
  </system.web>
  <system.webServer>
<httpErrors errorMode="Custom">
      <remove statusCode="404"/>
      <error statusCode="404" responseMode="Redirect" path="http://rcdonline.bih.nic.in/GenericErrorPage.htm"/>
    </httpErrors>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="MSCaptcha" path="CaptchaImage.axd" verb="*" type="MSCaptcha.CaptchaImageHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <!--<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />-->
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="MSCaptchaImage" path="~/CaptchaImage.axd" verb="GET" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" preCondition="integratedMode,runtimeVersionv2.0" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="DefaultMain.aspx" />
        <add value="welcome/index.html" />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
   <system.serviceModel>

    <services>
      <service name="NSAPDataTransfer.ElabharthiNSAP">
        <endpoint address="basic1" binding="basicHttpBinding" contract="NSAPDataTransfer.NSAPGetData"></endpoint>
      </service>

    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="EleconSMSServiceSoap" />
 	<binding name="AgricultureWebserviceSoap">
 
          <security mode="Transport"/>

        </binding>
        <binding name="AgricultureWebserviceSoap1"/>
<binding name="SMSServiceTestSoap"/>
<binding name="basicHttp" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
            <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000"/>
        </binding>
<binding name="eLabhWebServiceSoap"/>

      </basicHttpBinding>
      <customBinding>
        <binding name="EleconSMSServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="AgricultureWebserviceSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport/>
        </binding>
        <binding name="SMSServiceTestSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://164.100.37.22/NICsms/smsservicetest.asmx" binding="basicHttpBinding" bindingConfiguration="SMSServiceTestSoap" contract="SMSServiceNew.SMSServiceTestSoap" name="SMSServiceTestSoap"/>
      <endpoint address="http://10.133.0.22/elecon/eleconsmsservice.asmx" binding="basicHttpBinding" bindingConfiguration="EleconSMSServiceSoap" contract="EleconSMSService.EleconSMSServiceSoap" name="EleconSMSServiceSoap" />
         <!--<endpoint address="https://dbtagriculture.bihar.gov.in/agriculturewebservice.asmx" binding="basicHttpBinding" bindingConfiguration="AgricultureWebserviceSoap" contract="agriculturewebservice.AgricultureWebserviceSoap" name="AgricultureWebserviceSoap"/>-->
      <endpoint address="https://dbtagriculture.bihar.gov.in/agriculturewebservice.asmx" binding="customBinding" bindingConfiguration="AgricultureWebserviceSoap12" contract="agriculturewebservice.AgricultureWebserviceSoap" name="AgricultureWebserviceSoap12"/>
<!--<endpoint address="http://164.100.37.22/elecon/eleconsmsservice.asmx" binding="customBinding" bindingConfiguration="EleconSMSServiceSoap12" contract="EleconSMSService.EleconSMSServiceSoap" name="EleconSMSServiceSoap12"/>-->
<endpoint address="http://164.100.37.22/commondeptsms/smsservicetest.asmx" binding="basicHttpBinding" bindingConfiguration="SMSServiceTestSoap" contract="COPSMSService.SMSServiceTestSoap" name="SMSServiceTestSoap"/>

<endpoint address="http://elabharthi.bih.nic.in/elabhwebservice.asmx" binding="basicHttpBinding" bindingConfiguration="eLabhWebServiceSoap" contract="AadhaarAuthService.eLabhWebServiceSoap" name="eLabhWebServiceSoap"/>
    </client>


  </system.serviceModel>
</configuration>