*
{
    margin:0;
    padding:0;
    }
   body{
   background-color:#e7e7e7 !important;
    } 
    .container
    {
    background:#fff;
    padding-right:0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
 .header
 {
     width:100%;
     height:auto;
     background:#012e57;
     text-align:center;
      background-image:url(../images/roade.jpg);
     padding-right:0px !important;
    padding-left: 0px !important;
     } 
 /* .headersitemaster
 {
     width:100%;
     height:100px;
     background-image:url(../images/roade.jpg);
     text-align:center;
     padding-right:0px !important;
    padding-left: 0px !important;
     } */
  .inst h2
  {
      text-align:center;
      }   
  .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}  
 .login
   {
       padding-top:0%;
       padding-bottom:0%;
       }
           
  .login-form {
  border:2px solid #999;
  border-radius:10px;
  float:left;
 
}    
td, th {
    padding: 0px !mportant;
}
.dat
{text-align:center !important;
    }
.btnbgcolor
{
    background-image:url(../images/btn.jpg);
    color:#fff;
    padding:5px;
    border-radius:8px;
    }  
.btnbgcolor:hover
{
    background-image:url(../images/btn-hover.jpg);
 }

.log
{
  border:1px solid #999; 
   border-radius:10px; 
   padding:0px;
  margin-top:px;
  margin-bottom:0px;
  padding-right:0px;
    }
   .footer
   {
       text-align:center;
       width:100%;
       padding:15px;
       background-image:url(../images/road.jpg);
       color:#fff;
       margin-top:10px !important;
       }  
       
  @media (min-width:1200px) 
  {
      .login
   {
       padding-top:10%;
       padding-bottom:42%;
       padding-left:35%;
       }
           
  .login-form {
  border:2px solid #999;
  border-radius:10px;

 
}    
td, th {
 padding: 1px;
}

.dat
{text-align:center !important;
    }


.log
{
  border:1px solid #999; 
   border-radius:10px; 
   padding:15px;
  margin-top:5px;
  margin-bottom:25px;
  padding-right:0px;
    } 
      
       }     